@charset "utf-8";
*, body, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: 1rem;
}

body{
    background-color: #130808;
}

/* this is my navbar */


.navbar{
    background-color: #000000cb;
    border: .2rem solid rgb(0, 0, 0);
    border-width: .2rem 0;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    font-family: sans-serif;
}
  .nav1{
    color: #fff;
    padding: 0 .3rem;
    border-left: .1rem solid rgba(243, 239, 239, 0.233);
    border-right: .1rem solid rgba(243, 239, 239, 0.233);
    font-weight: 300;
    font-size: 1.5rem;
    padding-bottom: 0;
    border-radius: .5rem;
 }
 .nav21, .nav31{
    padding-bottom: 1rem;
 }

 .nav31{
    text-align: center;
 }

 .home{
    color: blue;
    padding: 0;
    padding-right: 1rem;
    padding-left: .2rem;
    font-size: 1rem;
    text-decoration: none;
 }
 .link{
    color: gray;
 }

 /* .......................Main.......................... */
 main{
    border: .2rem solid rgba(39, 89, 151, 0.62);
    border-width: .2rem 0;
 }
 .introduction{
    padding-left: 5rem;
    padding-right: 5rem;
    background: transparent
 }


/*....................... background slide css .............................*/


.bg-slide, .bg-slide:after{
	position:relative;
	width:100%;
    height: 100vh;
	top:0;
	left:0;
	z-index:-1;
	list-style:none;
    padding-top: 1rem;
    overflow: hidden;
    background-repeat: no-repeat;
    margin: 0;
}

.bg-slide:after{
	content: '';
	background: url(../images/grid.png) ;
}

.bg-slide li span{
	width:100%;
	height:100%;
	position:absolute;
   list-style: none;
	top:0;
	left:0;
	color:transparent;
	opacity:-1;
	z-index:-1;
	-webkit-animation: imageFade
     24s linear infinite 0s;
	-moz-animation: imageFade 24s linear infinite 0s;
	-o-animation: imageFade 24s linear infinite 0s;
	-ms-animation: imageFade 24s linear infinite 0s;
	animation: imageFade 24s linear infinite 0s;
}

.bg-slide li:nth-child(1) span{
	background:linear-gradient(rgba(18, 173, 18, 0.5), rgba(153, 4, 240, 0.438)), url(../images/livingseededit_sized.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-slide li:nth-child(2) span{
	background:linear-gradient(rgba(18, 173, 18, 0.856), rgba(240, 205, 4, 0.856)),url(../images/nigerian_worship.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	-webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
	animation-delay:6s; 
}

.bg-slide li:nth-child(3) span{
	background:url(../images/livingseededit_sized.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	-webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s; 
}

.bg-slide li:nth-child(4) span{
	background:url(../images/livingseededit_sized.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	-webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    -o-animation-delay: 18s;
    -ms-animation-delay: 18s;
    animation-delay: 18s;  
}

 
.bg-slide li:nth-child(5) span { 
    background-image: url(../images/slide3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    block-size: cover;
    -webkit-animation-delay: 24s;
    -moz-animation-delay: 24s;
    -o-animation-delay: 24s;
    -ms-animation-delay: 24s;
    animation-delay: 24s; 
}

/* Animation for Home Image Slide show */

@-webkit-keyframes imageFade { 
    0% { opacity: 0;
    -webkit-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -webkit-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@-moz-keyframes imageFade { 
    0% { opacity: 0;
    -moz-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -moz-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@-o-keyframes imageFade { 
    0% { opacity: 0;
    -o-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -o-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@-ms-keyframes imageFade { 
    0% { opacity: 0;
    -ms-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -ms-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@keyframes imageFade { 
    0% { opacity: 0;
    animation-timing-function: ease-in; }
    8% { opacity: 1;
         animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
/* ..............................End of background CSS...................................... */
.bg-slide1{
    display: none;
}
 .welcome-text{
    padding-top: 1rem;
    font-size: 2rem;
 }
 .intro{
    display: flex;
    justify-content: space-between;
    color: white;
    margin-bottom: 2rem;
  }
 .log{
    background-color: rgb(42, 86, 136);
    border-radius: .2rem;
    width: 14%;
    color: white;
    font-family: sans-serif;
    padding: .4rem;
    font-size: small;
    margin-bottom: 1rem;
 }
 .log2{
    background-color: rgb(42, 86, 136);
    border-radius: .2rem;
    width: 19%;
    color: white;
    font-family: sans-serif;
    padding: .4rem ;
    font-size: small;
 }
 /* ..................My personalize css............................... */
 .personalize{
   background-color: rgb(243, 239, 239);
   padding:0;
   padding-bottom: 4rem;

 }
 .sub-personalize{
   display: flex;
   justify-content: center;
   align-items: center;
   margin:0 1rem 1rem 1rem ;
   gap: 20px;
 }

 .loging, .code, .upcoming, .Register{
   padding: 1rem;
   margin-top: 3rem;
   border: .2rem solid;
   border-radius: 1rem;
   background-color: white;
   border-color: wheat;
   flex-basis: 500px;

 }

 .img-p1,.img-p2, .img-p3, .img-p4{
   border-radius: 50%;
   width: 20%;
   align-items: center;
   margin-left: 40%;
 }

 button, a{
    text-decoration: none;
    color: rgb(255, 255, 255);
 }
 button {
    background-color: #006622;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
  }
  
  button:hover {
    background-color: #029433;
  }

  .footer {
    color: #fff;
    height: 20px;
    text-align: center;
  }

  /* css for ipads */

  @media(max-width: 1280px){

    .bg-slide, .bg-slide:after{
        width:100%;
        height: 800px;
        top:0;
        left:0;
        overflow: hidden;
        }
    
        .bg-slide li:nth-child(1) span, .bg-slide li:nth-child(3) span, .bg-slide li:nth-child(4) span, .bg-slide li:nth-child(5) span{
            background:url(../images/livingseededit_sized.png);
            background-repeat: no-repeat;
            background-size: cover;
        }

  }
  
  /* css for phones and tablets */
  @media(max-width: 768px) {
   body, html{
    font-size: .9rem;
   }

   .welcome-text{
    font-size: 1.4rem;
   }

   .bg-slide, .bg-slide:after{
	width:100%;
    height: 500px;
	top:0;
	left:0;
    overflow: hidden;
    }

    .bg-slide li:nth-child(1) span, .bg-slide li:nth-child(3) span, .bg-slide li:nth-child(4) span, .bg-slide li:nth-child(5) span{
        background:url(../images/livingseededit_sized.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .sub-personalize{
        display: flex;
        justify-content: center;
        margin: 1rem;
        gap: 15px;
      }
     
      .loging, .code, .upcoming, .Register{
        padding: 1rem;
        margin-top: 3rem;
        border: .2rem solid;
        border-radius: 1rem;
        background-color: white;
        border-color: wheat;
        flex-basis: 40rem;

      }

    button {
        margin-top: 3px;
        padding: 3px;
        border: .5px solid #ddd;
        border-radius: 2px;
      }

  }

/* css for smaller phones */
@media(max-width:480px){
    body,html{
        font-size: .8rem;
       }
    
       .welcome-text{
        font-size: 1rem;
       }

       .bg-slide, .bg-slide:after{
        width:100%;
        height: 300px;
        top:0;
        left:0;
        overflow: hidden;
        background-position: center;
        }
        
        .sub-personalize{
            display: flex;
            justify-content: center;
            margin: 1rem 4rem;
            gap: 8px;
            flex-direction: column;
          }
         
          .loging, .code, .upcoming, .Register{
            padding: 1rem;
            margin-top: 1.5rem;
            border: .2rem solid;
            border-radius: 1rem;
            background-color: white;
            border-color: wheat;
            flex-basis: 8.6rem;
        
          }

        button {
            margin-top: 3px;
            padding: 3px;
            border: .5px solid #ddd;
            border-radius: 2px;
          }
}