*, body{
  margin: 0;
  padding: 0;
}
/* Tag Styling */
.tag{
  border: 1px solid #000;
  border-radius: 1rem;
  width: 105mm;  /* Width for A6 */
  height: 148mm; /* Height for A6 */
  padding: 5px;
  text-align: center;
  margin: 20px auto;
  overflow: hidden;
  }

#tagImage {
  position: contain;
  /* padding: 10px; */
  margin: 0;
  margin-bottom: .1rem;
  border-radius: 1em; 
  text-align: right;
  font-style: oblique;
  color: #e7e7e7;
}
.tagImagetop{
  border-radius: .5em;
}

.participantsDetails{
  display: flex;
  margin-bottom: 30px;
}

.profileImage{
  margin: 1rem 0;
  padding: 0;
}
.profileDetail{
  padding-top: 3rem;
}

#tagSurname {
  text-align: left;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 40px;
  font-family: sans-serif;
}

.otherDetails{
  text-align: left;
  padding: .3rem 0;
}

.button{
  margin:20px auto;
  width: 105mm;
}
button{
  margin-left: .9rem;
}

/* Print Styling */
@media print {
  * body  {
  width: 105mm;
  height: 148mm;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  }
  .tag, .tag * {
    visibility: visible;
  }
  .tag {
    margin: 0;
    padding: 0;
    page-break-before: avoid;
    page-break-inside: avoid;
    page-break-after: avoid;
    overflow: hidden;
  }
  @page {
    size: 105mm 148mm;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  .no-print{
    display: none !important;
  }
}

 /* css for phones and tablets */
 /* @media(max-width: 768px){
  .tag{
    display: none;
  }

  button{
    margin-left: .6rem;
  }
} */